.accordion {
  max-width: 55%;
  margin: 2rem auto;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  width: 100%;
  background: color-mix(in srgb, var(--background-color-gray) 30%, #0c0c0c00 70%);
  color: #fff;
  padding: 1rem;
  text-align: left;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header h2{
    font-weight: 450;
    margin: 0;
}


.accordion-header:hover {
  background: color-mix(in srgb, var(--background-color-gray) 50%, #0c0c0c90 50%);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background: color-mix(in srgb, var(--background-color-gray) 30%, #0c0c0c00 70%);
  transition: max-height 1s ease-out;
}

.accordion-content h3 {
  padding: 1rem;
  margin: 0;
  font-weight: 350;
}

/* Active state */
.accordion-item.active .accordion-content {
  max-height: 500px;
}

.icon {
  font-size: 1.2rem;
  transition: all 1s ease-out;
}
