.cta-button{
  /* background-color: var(--accent-color-2); */
  flex: 1;
  padding: 8px 54px;
  border-radius: 20px;
  /* color: color-mix(in srgb, var(--accent-color) 87%, rgb(0, 0, 0)); */
  font-size: calc(var(--h2)*0.80);
  font-weight: 525;
  border: solid 1px var(--border-color);
  background-image: linear-gradient(to right, #7990a0, #2f394f);
  color: rgba(240, 248, 255, 0.85);
  transition: all 0.5s ease-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration : none

}
.cta-button:hover{
  background-image: linear-gradient(to right, #586a77, #252c3d);
  color: var(--text-color);
  color: aliceblue;
}

.cta-button img {
  /* flex: 1; */
  aspect-ratio: 1/1;
  height: 50px;
}
/* .cta-button-wrapper{
    background: linear-gradient(to right, #0c0c0c, transparent);
    z-index: 1;
} */

.cta-button::before{
    background: linear-gradient(to right, #0c0c0c, transparent);
}