.canvas-wrapper{
  position: relative;
  height: 300vh;
  justify-content: center;
}

.animated-logo {
    --progress: 0;
    width: 100vw;
    height: calc(100vh + 60px);
    position: sticky;
    top: 0px;
    left: 0px;
    inset: 0;
    z-index: -10;
    background-color: var(--background-color-gray);
    animation: gradientChange 1s linear paused;
    animation-delay: calc(var(--progress) * -1s);
    pointer-events: none;
    filter: blur(0px);
}

.will-disappear{
  width: 100%;
  height: 100%;
  animation: willDisappear 1s linear paused;
  animation-delay: calc(var(--progress) * -1s);
}

@keyframes willDisappear {
  0%{
    opacity: 1;
  }

  65%{
    opacity: 1;
  }

  78%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.animated-logo::before{
    content: '';
    position: absolute;
    top: 0;
    width: 89%;
    height: 100%;
    left: 0;
    background: linear-gradient(to right, #0c0c0c, transparent);
}


@keyframes gradientChange {
  0% {
    background-color: var(--background-color-gray);
    filter: blur(0px);
    opacity: 1;
  }

  80%{
    filter: blur(0px);
    opacity: 1;
  }

  95% {
    background-color: var(--background-color-red);
    filter: blur(10px);
  }

  100% {
    filter: blur(10px);
    background-color: var(--background-color-red);
    opacity: 0;
  }
}

.title-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 5;
    /* opacity: 1; */
    /* animation: titleWrapperDisappears 1s linear paused;
    animation-delay: calc(var(--progress) * -1s); */
}

.title-wrapper-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: start;
    align-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
    /* background-color: #0C0C0C; */
    /* transform: translateY(-20%); */
    opacity: 0;
    /* filter: blur(0px); */
    backdrop-filter: blur(2px);

}

.title-wrapper h1, .title-wrapper-2 h1{
  font-weight: 400;
}

@media (max-width: 1499px) and (min-width: 900px){
  .title-size{
    font-size: 64px;
  }
}

@media (max-width: 899px){
  .title-size{
    font-size: 48px;
  }
}

.why-card{
  display: flex;
  flex-direction: column;
  width: 18vw;
  /* aspect-ratio: 1 / 1.4; */
  background-color: #b3b3b3;
  padding: 21px 13px;
  border-radius: 21px;
  /* opacity: 0; */
}

.why-card-wrapper-squared{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 19vw;
  /* aspect-ratio: 1 / 1.4;  */
  /* background-color: #ff4141; */
  background-image: url("/1483.jpg");
  padding: 0.5vw;
  border-radius: calc(21px + 0.5vw);
  background-size: 600px;
}

.why-card h1 {
  margin-bottom: var(--space-tight);
  background: #0C0C0C;
  background: linear-gradient(to right, #0C0C0C 0%, #5D3C3C 35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.why-card h2 {
  color: #0c0c0c;
}

.why-card h3{
  color: var(--gray-text-color-2);
}

.why-card-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* flex: 1; */
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 5%;
}

.float{
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-25px);
  }
  100%{
    transform: translateY(0px);
  }
}
