*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

:root::-webkit-scrollbar {
  display: none;
}

:root {
  /* Colors */
  --background-color-gray: #737373;
  --background-color-red: #3d2727;
  --text-color: #edf0f3;
  --accent-color: #00b5da;
  --accent-color-2: #34d8d8;
  --borders: #223146;
  --gray-text-color: #cacccec4;
  --gray-text-color-2: #3d3d3d;
  color: var(--text-color);
  background-color: #0c0c0c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /*fonts*/
  --font-header: 'Work Sans', sans-serif;
  --font-body: 'Inter', sans-serif;
  /*golden ration*/
  --phi: 1.61803398875;
  /*spacing*/
  --space-tight: calc(var(--body) * 0.618);
  --space-base: var(--body);
  --space-loose: calc(var(--body) * var(--phi));
}

.page-title{
  /* background: #EDF0F3;
  background: linear-gradient(to right, #EDF0F3 0%, #BBBBBB 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: var(--text-color);
  z-index: 1;

  text-shadow: 5px 0px 8px rgba(0, 0, 0, 0.75);
}

.title-size{
  font-size: 96px;
}

.sub-title{
  color: var(--gray-text-color);
  text-align: center;
  width: 55vw;
}

@media (min-width: 1500px) {
  :root {
    --h1: 56px;
    --h2: calc(var(--h1) / var(--phi));
    --body: calc(var(--h2) / var(--phi));
  }
}

@media (max-width: 1499px) and (min-width: 900px) {
  :root {
    --h1: 40px;
    --h2: calc(var(--h1) / var(--phi));
    --body: calc(var(--h2) / var(--phi));
  }
}

@media (max-width: 899px) {
  :root {
    --h1: 32px;
    --h2: calc(var(--h1) / var(--phi));
    --body: calc(var(--h2) / var(--phi));
  }
}

#root{
  width: 100%;
}

h1{
  font-family: var(--font-header);
  /* background-color: rgba(0, 128, 0, 0.39); */
  font-size: var(--h1);
  margin-bottom: var(--space-base);
  color: var(--text-color);
  text-align: center;
  font-weight: 600;
}

h2{
  font-family: var(--font-header);
  /* background-color: rgba(172, 255, 47, 0.13); */
  color: var(--text-color);
  font-size: var(--h2);
  margin-bottom: var(--space-tight);
}

h3{
  font-family: var(--font-body);
  /* background-color: rgba(0, 128, 0, 0.39); */
  font-size: var(--body);
  margin-bottom: var(--space--tight);
}

.title-gradient {
  /* background: linear-gradient(
    360deg,
    #00353c 0%,
    #00a9bd 75%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */
  background: #5E5E5E;
  background: linear-gradient(to right, #5E5E5E 0%, #BBBBBB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4); */
  /* text-shadow: 2px 2px 0 #000; */
  filter: drop-shadow(4px 3px 0 #453b3b);

}



