.moving-samples-wrapper-squared{
    position: relative;
    height: 300vh;
}

.moving-samples-wrapper{
    display: flex;
    --progress2: 0;
    position: relative;
    /* top: 0; */
    height: 100vh;
    width: 100vw;
    background-color: #737373;
    animation: gradientChange 1s linear paused;
    animation-delay: calc(var(--progress2) * -1s);
    /* padding: 30px; */
}

.moving-samples-wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    width: 89%;
    height: 100%;
    left: 0;
    background: linear-gradient(to right, #0c0c0c, transparent);
    z-index: -1;
}

@keyframes gradientChange {
  0% {background-color: var(--background-color-gray);}

  100% {background-color: var(--background-color-red);}
}

.sticky-part{
    position: sticky;
    top: 0;
    left: 0;
}

.moving-sample-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    /* background-color: #a7a7a766; */
    /* transform: translateY(-50%) ; */
    /* aspect-ratio: 4/5; */
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    transform: translateX(-50%) ;
    /* animation: MovingSamplesWidthAnimation 1s linear paused; */
    /* animation-delay: calc(var(--progress2) * -1s); */
}

.moving-samples-title{
    animation: TextDisappear 1s linear paused;
    animation-delay: calc(var(--progress2) * -1s);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: 30px;
}



.moving-samples-wrapper > h2 {
    position: absolute;
    width: 33%;
    top: 35%;
    left: 10%;
    /* display: none; */
    animation: TextDisappear 1s linear paused;
    animation-delay: calc(var(--progress2) * -1s);
}


.moving-sample-card h2, .moving-sample-card h3 {
    animation: MovingSamplesAnimation 1s linear paused;
    animation-delay: calc(var(--progress2) * -1s);
}

.moving-sample-card h3{
    color: var(--gray-text-color);
}

@keyframes MovingSamplesAnimation {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

@keyframes TextDisappear {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}



#alexi{
    z-index: 5;
    top: 60%;
    left: 72%;
    animation: alexiMovement 1s linear paused;
    animation-delay: calc(var(--progress2) * -1s);
}

#sultin{
    z-index: 4;
    top: 45%;
    left: 78%;
    animation: sultinMovement 1s linear paused;
    animation-delay: calc(var(--progress2) * -1s);
}

#timothy {
    z-index: 3;
    top: 40%;
    left: 68%;
    animation: timothyMovement 1s linear paused;
    animation-delay: calc(var(--progress2) * -1s);
}

#homirx {
    z-index: 2;
    top: 25%;
    left: 75%;
    animation: homirxMovement 1s linear paused;
    animation-delay: calc(var(--progress2) * -1s);
}

@keyframes homirxMovement {
    /* 0%{
        left: 75%;
        
    } */

    50% {
        left: 75%;
        top: 25%;
    }

    100% {
        top: 8%;
        left: 30%;
    }
}

@keyframes timothyMovement {

    50% {
        top: 40%;
        left: 68%;
    }

    100% {
        top: 53%;
        left: 30%;
    }

}

@keyframes sultinMovement {
    50% {
        top: 45%;
        left: 78%;
    }

    100% {
        top: 8%;
        left: 70%;
    }

}

@keyframes alexiMovement {

    50% {
        top: 60%;
        left: 72%;
    }

    100% {
        top: 53%;
        left: 70%;
    }

}

.torn-paper{
    position: absolute;
    width: 40%;
    z-index: 1;
    left: 52.5%;
    top: 30%;
    animation: TextDisappear 1s linear paused;
    animation-delay: calc(var(--progress2) * -1s);
}

.disappearing-laptop{
    /* position: relative; */
    /* display: block; */
    /* justify-content: center;
    align-items: center;
    align-content: center; */
    /* width: 70%; */
    animation: MovingLaptopAnimation 1s linear paused;
    animation-delay: calc(var(--progress2) * -1s); 
    /* aspect-ratio: 16/9; */
    /* top: 0; */
    /* background-image: url('./assets/laptop.png'); */
    /* background-repeat: no-repeat;
    /* background-clip: padding-box ; */
    /* background-position: top; 
    background-size: contain; */

    /* padding-top: 5px;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 46px; */
}

.moving-sample-card .main-img {
    align-self: center;
    /* width: 100%;   */
    animation: MovingImageAnimation 1s linear paused;
    animation-delay: calc(var(--progress2) * -1s); 
    border-style: solid;
    border-color: #0c0c0c;
    border-bottom-width: 0%;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    /* margin-bottom: 12px;
    margin-top: 2px;
    margin-left: 6px;
    margin-right: 6px; */
}

@keyframes MovingImageAnimation {
    0% {
        width: 50%;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-top-width: 0px;

    }

    50% {
        width: 50%;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-top-width: 0px;

    }

    100% {
        width: 60%;
        border-bottom-width: 12px;
        border-left-width: 6px;
        border-right-width: 6px;
        border-top-width: 6px;
    }
}


@keyframes MovingLaptopAnimation {
    0% {
        width: 65%;
        opacity: 0;

    }

    50% {
        width: 65%;
        opacity: 0;

    }

    100% {
        width: 75%;
        opacity: 1;
    }
}